<form class="form" [formGroup] = 'edit'>
  <div class="row">
    <div class="col-25">
      <label for="title">Title</label>
    </div>
    <div class="col-75">
      <input #title formControlName="title" type="text" id="title" name="title" placeholder="Title.." [(ngModel)] = "list.title">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="placeName">Place Name</label>
    </div>
    <div class="col-75">
      <input #placeName formControlName="placeName" type="text" id="placeName" name="placeName" placeholder="Enter place name.." [(ngModel)] = "list.placeName" >
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="address">Address</label>
    </div>
    <div class="col-75">
      <input #address formControlName="address" type="text" id="address" name="address" placeholder="Enter address.."  [(ngModel)] = "list.address">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="date">Date</label>
    </div>
    <div class="col-75">
      <input #date formControlName="date" type="date" id="date" name="date"  [(ngModel)] = "list.date">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="description">Description</label>
    </div>
    <div class="col-75">
      <textarea  #description formControlName="description" id="description" name="description" placeholder="Write something.." style="height:200px"  [(ngModel)] = "list.description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="status">Status</label>
    </div>
    <div class="col-75">
      <select class="form-control" id="status" #status formControlName="status" [(ngModel)] = "list.status">
        <option *ngFor="let status of statuses" [value]="status.name">{{status.name}}</option>
      </select>
    </div>
  </div><br>
  <div class="row">
    <button  (click)="updateEvent(title.value,placeName.value,address.value,date.value,description.value,status.value)" type="submit" class="button1 button2"> Update </button>
  </div>
</form>
